* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.navigation {
    display: flex;
}

.navigation__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation__listitem {
    margin-right: 2rem;
}
